/* | CONTENEDOR PRINCIPAL */
.content-row{ /*content-alley*/
    margin-bottom: 22px;
}

/* | CONTENEDORES */

/* || CONTENEDORES DE TARJETAS*/
.card-group-container{
    margin: 1rem;;
}

.card-group-section{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.card-container{
    width: 100%;
    background-color: #393837;
}

.card-section{
    display: flex;
    flex-direction: column;
}

.card-image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;

    img{
        width: 100%;
        min-width: 100%;
    }
}

/* || CONTENEDORES DE SECCION*/
.flex-section{
    display: flex;
}

    .flex-column{
        flex-direction: column;
    }

        .flex-gapped{
            gap: 35px;        
        }

    .flex-justify-center{ /*flex-center*/
        justify-content: center;
    }

    .flex-align-center{ /*flex-center*/
        align-items: center;
    }

/* || CONTENEDORES DE TITULO*/
.title-container{
    background-color: #201d1e;
    width: 100%;
}

.left-asimetric-title-container{
    background-color: #201d1e;
    width: 420px;
    justify-self: left;
}

.right-asimetric-title-container{
    background-color: #201d1e;
    width: 420px;
    justify-self: right;
}

    .title-section{
        display: flex;
        justify-content: center;
        padding: 1.25rem;
    }

        .separated{
            margin-left: 1rem;
            margin-right: 1rem;
            width: calc(100dvw - 2rem);
        }
/* || CONTENEDORES DE TEXTO*/
.text-container{
    background-color: #393837;
    width: 100%;
}
    .text-section{
        display: flex;
        flex-direction: column;
        padding: 1.25rem;
    }

        .text-section-center{
            justify-content: center;
        }

        .text-section-right{
            justify-content: right;
        }

        .text-section-left{
            justify-content: left;
        }
        
/* || CONTENEDORES DE IMAGEN*/
.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
}
    .image-container-no-top-padding{
        padding: 0 1.25rem 1.25rem 1.25rem;
    }

.one-image-container{
    background-color: #393837;
    width: 100%;
}
    .one-image-section{
        display: flex;
        justify-content: space-around;
    }

/* | REGLAS RESOLUCION ANCHO < 1200px - Tarjetas*/
@media screen and (max-width: 1200px) {
    /* || CONTENEDORES DE TARJETAS*/
    .card-group-section{
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;
    }

    .card-section{
        display: flex;
        flex-direction: row;
        padding: 1.5rem;
    }

    .card-image{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.25rem;
    
        img{
            width: 100%;
            min-width: 100%;
        }
    }
}

/* | REGLAS RESOLUCION ANCHO < 768PX*/
@media screen and (max-width: 768px) {
    /* || CONTENEDORES DE SECCION*/
    .flex-section{
        flex-direction: column;
    }

    /* || CONTENEDORES DE TITULO*/
    .left-asimetric-title-container{
        background-color: #201d1e;
        width: 100%;
        justify-self: left;
    }
    
    .right-asimetric-title-container{
        background-color: #201d1e;
        width: 100%;
        justify-self: right;
    }

    /* || CONTENEDORES DE TARJETAS*/
    .card-section{
        display: flex;
        flex-direction: column;
        padding: 0rem;
    }

    .card-image{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.25rem;
        width: 100%;
    
        img{
            width: 100%;
            min-width: 100%;
            border-radius: 1rem;
        }
    }

}