.logo{
    background: url(/SRC/resources/general/big-logo.png) no-repeat;
    width: 70px;
    height: 70px;
    text-indent: -9999px;
    background-size: cover;
    overflow: hidden;
}

.footer-icons{
    width:40px;
    height: auto;
    text-indent: -9999px;
    background-size: cover;
    overflow: hidden;
    transition: all 0.15s;
}

.footer-icons:hover{
    transform: scale(1.2);
}

.interactable-menu-image{
    margin: 2rem;
}

    .interactable-menu-image img{
        width: 600px;
        height: 400px;
        transition: all 0.15s;
        text-indent: -9999px;
        background-size: cover;
        overflow: hidden;
    }

    .interactable-menu-image img:hover{
        transform: scale(1.1);
        border-radius: 1.5rem;
        text-indent: -9999px;
        background-size: cover;
        overflow: hidden;
    }

.image-container img{
    height: 230px;
}

@media screen and (max-width: 768px) {
    .logo{
        background: url(/SRC/resources/general/small-logo.png) no-repeat;
        height: 70px;
        min-width: 136px;
        max-width: 136px;
        max-height: 70px;
        text-indent: -9999px;
        background-size: cover;
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {
    .image-container img{
        width: 70dvw;
        height: auto;
        margin: 0.5rem 0;
    }
    .interactable-menu-image img{
        background: url(/SRC/resources/index_elements/interactable-menu-sign.png);
        width: 70dvw;
        height: auto;
        text-indent: -9999px;
        background-size:auto;
        ;
}}

@media screen and (max-width: 400px){
    .logo{
        background: url(/SRC/resources/general/small-logo.png);
        min-height: 54px;
        min-width: 105px;
        max-width: 105px;
        max-height: 54px;
        text-indent: -9999px;
        background-size: cover;
        overflow: hidden;
    }}