/*Clase Logo Dinamica - En tamaños mayores a 786px aparece el logo big*/
.logo{
    background: url(/SRC/resources/general/big-logo.png) no-repeat;
    width: 70px;
    height: 70px;
    text-indent: -9999px;
    background-size: cover;
    overflow: hidden;
}

.interactable-container{
    display: flex;
    width: 100%;
}

.interactable-menu-image img{
    width: 600px;
    height: 400px;
    transition: all 0.15s;
    margin: 2rem;
    text-indent: -9999px;
    background-size: cover;
    overflow: hidden;
}
.interactable-menu-image img:hover{
    transform: scale(1.1);
    border-radius: 1.5rem;
    text-indent: -9999px;
    background-size: cover;
    overflow: hidden;
}

/*Inclusión de elementos padding y margin a la suma total del tamaño del elemento*/
* {
    box-sizing: border-box;
}

/*Declaración del color de fondo y eliminacion de margenes y padding*/
body {
    background-color: #ffde62;
    margin: 0;
    padding: 0;
}

/*Declaración del estilo header. Tipo bloque para ocupar todo el ancho de la ventana con margenes para el contenido.*/
header {
    display: block;
    margin-top: 22px;
    margin-bottom: 22px;
    background-color: #201d1e;
    position: sticky;
    top: -10px;
    border-bottom: 1px solid #393837;
}

p{
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color:white;
}

/*Hacer responsive min 768p*/
/*Estilos para el contenedor navegador*/
#top-nav{
    display: block;
}

/*Estilos para los elementos de lista no ordenada dentro de top-nav. retirada de estilos y modificadas las proporciones*/
#top-nav ul{
    list-style: none;
    margin-top: 19px;
    height: 29px;
}

/*Estilos para los hijos de listas no ordenadas de top-nav. Modificado el display para mostrarse uno al lado del otro*/
#top-nav ul li{
    display: inline-block;
    margin-left: 2.5rem;
}

/*Estilo para el contenedor general de los elementos del top-nav. Display flex con un tamaño maximo de ancho. 
    Max width permite que los elementos en pantallas de 1200px o mas se dirigan al centro*/
.top-logo-nav-container{
    width: 100%;
    display:flex;
    margin: 0 auto;
    padding: 1rem;
    max-width: 1200px;
}

/*Clase general para alicar a las filas de información*/
.content-alley{
    margin-bottom: 22px;
}

/*Clase general para contener articulos. Aplicado un display flex para manejar sus contenidos*/
.flex-section{
    display: flex;
    background-color: #393837;
}

.flex-column{
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

/*clase general para los contenedores de la izquierda*/
.left-container{
    padding: 1.25rem;
    width: 420px;
    background-color: #201d1e;
    justify-self: left;
}

.full-container{
    padding: 1.25rem;
    width: 100%;
    background-color: #201d1e;
}

.left-container-atch{
    padding: 1.25rem;
    background-color: #393837;
}

/*clase general para los contenedores de imagenes*/
.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*clase general para las imagenes del contenedor de imagenes*/
.image-container img{
    height: 230px;
    margin: 0.5rem 0;
}

/*Estilos dinamicos para pantallas de menos de 768px*/
@media screen and (max-width: 768px) {
    /*Se cambia el logo y su comportamiento ademas del tamaño*/
    .logo{
        background: url(/SRC/resources/general/small-logo.png) no-repeat;
        height: 70px;
        min-width: 136px;
        max-width: 136px;
        max-height: 70px;
        text-indent: -9999px;
        background-size: cover;
        overflow: hidden;
    }

    /*Las listas no ordenadas dentro de top nav mantienen una transicion y ahora son elementos flex. Se cambia la anchura*/
    #top-nav ul{
        display: flex;
        transition: height 0.3s ease;
        padding: 0;
        width: 95dvw;
        justify-content: space-evenly;
    }
    
    /*Hijos de listas no ordenadas dentro de top-nav. Nuevo tamaño y margen*/
    #top-nav ul li{
        display: inline-block;
        /*margin:0 0.7em;*/
        margin: 0 .8dvw;
        height: 20px;
    }
    
    /*Al contenedor general se le cambia el comportamiento y el orden de los elementos en su interior*/
    .top-logo-nav-container{
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 1rem;
    }

    /*Clase general para contener articulos. Aplicado un display flex para manejar sus contenidos*/
    .flex-section{
        display: flex;
        background-color: #393837;
        flex-direction: column;
    }

    /*clase general para los contenedores de la izquierda*/
    .left-container{
        padding: 1.25rem;
        width: 100%;
        background-color: #201d1e;
    }

    .image-container img{
        width: 70dvw;
        height: auto;
        margin: 0.5rem 0;
    }

    .interactable-menu-image img{
        background: url(/SRC/resources/index_elements/interactable-menu-sign.png);
        width: 70dvw;
        height: auto;
        text-indent: -9999px;
        background-size:auto;
        ;
}

/*Diseño dinamico en pantallas menores de 400px en ancho*/
@media screen and (max-width: 400px){
    .logo{
        background: url(/SRC/resources/general/small-logo.png);
        min-height: 54px;
        min-width: 105px;
        max-width: 105px;
        max-height: 54px;
        text-indent: -9999px;
        background-size: cover;
        overflow: hidden;
    }

    /*Las listas no ordenadas dentro de top-nav son mas pequeñas y tienen animación nueva*/
    #top-nav ul{
        transition: height 0.3s ease;
        margin: 0.5dvh;
        height: 10px;
    }
}