/*Clase Logo Dinamica - En tamaños mayores a 786px aparece el logo big*/
.logo{
    background: url(/SRC/resources/general/big-logo.png) no-repeat;
    width: 70px;
    height: 70px;
    text-indent: -9999px;
    background-size: cover;
    overflow: hidden;
}

/*Inclusión de elementos padding y margin a la suma total del tamaño del elemento*/
* {
    box-sizing: border-box;
}

/*Declaración del color de fondo y eliminacion de margenes y padding*/
body {
    background-color: #ffde62;
    margin: 0;
    padding: 0;
}

/*Declaración del estilo header. Tipo bloque para ocupar todo el ancho de la ventana con margenes para el contenido.*/
header {
    display: block;
    margin-top: 22px;
    margin-bottom: 22px;
    background-color: #201d1e;
}

/*Hacer responsive min 768p*/
/*Estilos para el contenedor navegador*/
#top-nav{
    display: block;
    /**/
}

/*Estilos para*/
#top-nav ul{
    list-style: none;
    margin-top: 19px;
    height: 29px;
}

#top-nav ul li{
    display: inline-block;
    margin-left: 2.5rem;
}

#top-nav ul li .nav-link{
    font-size: 1.25rem;
    text-decoration: none;
    font-family: "Slackey", serif;
    color: white;
}

.top-logo-nav-container{
    width: 100%;
    display:flex;
    margin: 0 auto;
    padding: 1rem;
    max-width: 1200px;
}

@media screen and (max-width: 768px) {
    .logo{
        background: url(/SRC/resources/general/small-logo.png) no-repeat;
        height: 70px;
        min-width: 136px;
        max-width: 136px;
        max-height: 70px;
        text-indent: -9999px;
        background-size: cover;
        overflow: hidden;
    }

    #top-nav ul{
        display: flex;
        transition: height 0.3s ease;
        padding: 0;
        width: 95dvw;
        justify-content: space-evenly;
    }
    
    #top-nav ul li{
        display: inline-block;
        /*margin:0 0.7em;*/
        margin: 0 .8dvw;
        height: 20px;
    }
    
    #top-nav ul li .nav-link{
        transition: font-size 0.3s ease;
        font-size: 1rem;
    }

    .top-logo-nav-container{
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 1rem;
        max-width: 1200px;
    }
}

@media screen and (max-width: 400px){
    #top-nav ul li .nav-link{
        transition: font-size 0.3s ease;
        font-size: 0.75rem;
    }

    #top-nav ul{
        transition: height 0.3s ease;
        margin: 0.5dvh;
        height: 10px;
    }
}