/*TEMPORAL*/
header {
    display: block;
    margin-top: 22px;
    margin-bottom: 22px;
    background-color: #201d1e;
    position: sticky;
    top: -10px;
    border-bottom: 1px solid #393837;
}

body {
    background-color: #ffde62;
    margin: 0;
    padding: 0;
}

/*TEMPORAL*/
#top-nav{
    display: block;
}

#top-nav ul{
    list-style: none;
    margin-top: 19px;
    height: 29px;
}

#top-nav ul li{
    display: inline-block;
    margin-left: 2.5rem;
}

.top-logo-nav-container{
    width: 100%;
    display:flex;
    margin: 0 auto;
    padding: 1rem;
    max-width: 1200px;
}

@media screen and (max-width: 768px) {
    
    #top-nav ul{
        display: flex;
        transition: height 0.3s ease;
        padding: 0;
        width: 95dvw;
        justify-content: space-evenly;
    }
    
    #top-nav ul li{
        display: inline-block;
        /*margin:0 0.7em;*/
        margin: 0 .8dvw;
        height: 20px;
    }    
}

@media screen and (max-width: 400px){
    
    #top-nav ul{
        transition: height 0.3s ease;
        margin: 0.5dvh;
        height: 10px;
    }
}