:root {
    /*Colores Modo Oscuro*/
    --light-gray: #393837;
    --dark-gray: #201d1e;
    --dark-yellow: #ffc862;

    --background-gray: #2b2b2b;



    /*Colores Modo Claro*/
    --clear-light-gray: #e7ac2b;
    --clear-dark-gray: #d48a1a;
    --clear-dark-yellow: #f7ca78;

    --background-yellow: #ffde62;

    /*Colores generales*/
    --hover-yellow: #fcba2c;
}

