:root {
    /*Colores Modo Oscuro*/
    --light-gray: #393837;
    --dark-gray: #201d1e;
    --dark-yellow: #ffc862;

    --background-gray: #2b2b2b;



    /*Colores Modo Claro*/
    --clear-light-gray: #f0c260;
    --clear-dark-gray: #d49c48;
    --clear-dark-yellow: #fcdea8;

    --background-yellow: #ffde62;

    /*Colores generales*/
    --hover-yellow: #fcba2c;
}