table{
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    margin: 2rem;
    border: 2px solid #201d1e;
}

th{
    font-family: "Slackey", serif;
    font-size: 1.5rem;
    font-weight: lighter;
    color: white;
    text-align: center;
    padding: 8px;
    background-color: #201d1e;
    border: 1px solid #201d1e;
}

td{
    padding: 8px;
    background-color: #ffc862;
    border: 1px solid #201d1e;
}

.menu-table{
    font-size: 1rem;
    color: white;
    width: 30%;
    min-width: 300px;

    th{
        font-family: "Lexend", Arial, Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: bold;
        width: 60%;
        text-align: end;
        background-color: #201d1e;
        border: 5px solid #393837;
        border-right: 0px;
    }

    td{
        color: #201d1e;
        font-family: "Lexend", Arial, Helvetica, sans-serif;
        font-size: 1rem;
        text-align: start;
        background-color: #ffc862;
        border: 5px solid #393837;
    }
    
}

@media screen and (max-width: 768px) {
    table{
        width: 80%;
    }

    .menu-table{
        width: 80%;
        min-width: 0px;
    }
}

@media screen and (max-width: 400px) {
    table{
        font-size: small;
    }
}